<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="FlaskProxy" stopProcessing="true">
          <match url="^flask/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:{WEBSITE_PORT}/{R:1}" />
        </rule>
        <rule name="StreamlitProxy" stopProcessing="true">
          <match url="^streamlit/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8501/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
